{% extends 'base.html.twig' %}

{% block title %}Wintering index{% endblock %}

{% block body %}
    <div class="place">
    <h2>Zimowanie dla {{ user.username }}</h2>

    {% if is_granted('ROLE_ADMIN') %}
        <table class="table">
            <thead>
                <tr>
                    <th>Użytkownik</th>
                    <th>Jednostki</th>
                    <th>Długość</th>
                    <th>Szerokość</th>
                    <th>Start</th>
                    <th>Koniec</th>
                    <th>Opis</th>

                </tr>
            </thead>
            <tbody>
                {% if winterings is not empty %}
                    {% for wintering in winterings %}
                        <tr>
                            <td>{{ wintering.userId.username }}</td>
                            <td>{{ wintering.boatName }}</td>
                            <td>{{ wintering.boatLength }}</td>
                            <td>{{ wintering.boatWidth }}</td>
                            <td>{{ wintering.startDate ? wintering.startDate|date('Y-m-d') : '' }}</td>
                            <td>{{ wintering.endDate ? wintering.endDate|date('Y-m-d') : '' }}</td>
                            <td>{{ wintering.description }}</td>
                            <td>
{#                                <a href="{{ path('app_wintering_show', {'id': wintering.id}) }}">Pokaż</a>#}
                                <a href="{{ path('app_wintering_edit', {'id': wintering.id}) }}">Edytuj</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="7">no records found</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    {% else %}
        <table class="tile">
            {% if winterings is not empty %}
            {% set hasUserPlaces = false %}
            {% for wintering in winterings %}
            {% if user.username == wintering.userId.username %}
            {% set hasUserPlaces = true %}
            <thead>
            <tr>
                <th>Jednostki</th>
                <th>Długość</th>
                <th>Szerokość</th>
                <th>Start</th>
                <th>Koniec</th>
            </tr>
            </thead>
            <tbody>

                        <tr>
                            <td>{{ wintering.boatName }}</td>
                            <td>{{ wintering.boatLength }}</td>
                            <td>{{ wintering.boatWidth }}</td>
                            <td>{{ wintering.startDate ? wintering.startDate|date('Y-m-d') : '' }}</td>
                            <td>{{ wintering.endDate ? wintering.endDate|date('Y-m-d') : '' }}</td>
                            <td>
{#                                <a href="{{ path('app_wintering_show', {'id': wintering.id}) }}">show</a>#}
                                <a href="{{ path('app_wintering_edit', {'id': wintering.id}) }}">Edytuj</a>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    {% if not hasUserPlaces %}
                        <tr>
                            <td colspan="6">Nie masz żadnych rezerwacji</td>
                        </tr>
                    {% endif %}
                {% else %}
                    <tr>
                        <td colspan="6">Brak rezerwacji w bazie</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    {% endif %}
        {# errors from PlaceCrudcontroller       #}
        {% for flashError in app.flashes('error') %}
            <div class="flash-error">
                {{ flashError }}
            </div>
        {% endfor %}
        <a href="{{ path('app_wintering_new') }}">
            <button class="contact__form-btn btn-special-animation spacer">Zamów</button>
        </a>
        <a href="{{ path('app_place_crud_index') }}">
            <button class="contact__form-btn btn-special-animation spacer">Panel użytkownika</button>
        </a>

    </div>
{% endblock %}
