{% extends 'base.html.twig' %}

{% block title %}Wintering{% endblock %}

{% block body %}
    <h1>Zimowanie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Użytkownik: </th>
                <td>{{ wintering.userId.username }}</td>
            </tr>
            <tr>
                <th>Nazwa jednostki: </th>
                <td>{{ wintering.boatName }}</td>
            </tr>
            <tr>
                <th>Długość</th>
                <td>{{ wintering.boatLength }}</td>
            </tr>
            <tr>
                <th>Szerokość</th>
                <td>{{ wintering.boatWidth }}</td>
            </tr>
            <tr>
                <th>Początek</th>
                <td>{{ wintering.startDate ? wintering.startDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Koniec</th>
                <td>{{ wintering.endDate ? wintering.endDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_wintering_index') }}">Powrót</a>

    <a href="{{ path('app_wintering_edit', {'id': wintering.id}) }}">Edytuj</a>

    {{ include('wintering/_delete_form.html.twig') }}
{% endblock %}
