{% extends 'base.html.twig' %}

{% block title %}Service index{% endblock %}

{% block body %}
    <div class="place">
    <h2>Serwis dla {{ user.username }}</h2>

    {% if is_granted('ROLE_ADMIN') %}
        <table class="table">
            <thead>
                <tr>
                    <th>Użytkownik</th>
                    <th>Nazwa jednostki</th>
                    <th>Data</th>
                    <th>Energia</th>
                    <th>Paliwo</th>
                    <th>Woda</th>
                    <th>Nieczystości</th>
                    <th>Dźwig</th>
                </tr>
            </thead>
            <tbody>
                {% if services is not empty %}
                    {% for service in services %}
                        <tr>
                            <td>{{ service.userId.username }}</td>
                            <td>{{ service.boatName }}</td>
                            <td>{{ service.date ? service.date|date('Y-m-d') : '' }}</td>
                            <td>{{ service.energy ? 'X' : '---' }}</td>
                            <td>{{ service.fuel ? 'X' : '---' }}</td>
                            <td>{{ service.water ? 'X' : '---' }}</td>
                            <td>{{ service.waste ? 'X' : '---' }}</td>
                            <td>{{ service.crane ? 'X' : '---' }}</td>
                            <td>
                                <a href="{{ path('app_service_edit', {'id': service.id}) }}">Edytuj</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                        <tr>
                            <td colspan="8">no records found</td>
                        </tr>
                {% endif %}
            </tbody>
        </table>
    {% else %}
        <table class="tile">
            {% if services is not empty %}
            {% set hasUserPlaces = false %}
            {% for service in services %}
            {% if user.username == service.userId.username %}
            {% set hasUserPlaces = true %}
            <thead>
                <tr>
                    <th>Nazwa jednostki</th>
                    <th>Data</th>
                    <th>Energia</th>
                    <th>Paliwo</th>
                    <th>Woda</th>
                    <th>Nieczystości</th>
                    <th>Dźwig</th>
                </tr>
            </thead>
            <tbody>

                            <tr>
                                <td>{{ service.boatName }}</td>
                                <td>{{ service.date ? service.date|date('Y-m-d') : '' }}</td>
                                <td>{{ service.energy ? 'X' : '---' }}</td>
                                <td>{{ service.fuel ? 'X' : '---' }}</td>
                                <td>{{ service.water ? 'X' : '---' }}</td>
                                <td>{{ service.waste ? 'X' : '---' }}</td>
                                <td>{{ service.crane ? 'X' : '---' }}</td>
                                <td>
{#                                    <a href="{{ path('app_service_show', {'id': service.id}) }}">show</a>#}
                                    <a href="{{ path('app_service_edit', {'id': service.id}) }}">Edytuj</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    {% if not hasUserPlaces %}
                        <tr>
                            <td colspan="6">Nie masz żadnych rezerwacji</td>
                        </tr>
                    {% endif %}
                {% else %}
                        <tr>
                            <td colspan="6">Brak rezerwacji w bazie</td>
                        </tr>
                {% endif %}
            </tbody>
        </table>
    {% endif %}

        {# wyświetla błedy daty, start pozniej niz koniec#}
        {% for flashError in app.flashes('error') %}
            <div class="flash-error">
                {{ flashError }}
            </div>
        {% endfor %}

        <a href="{{ path('app_service_new') }}">
            <button class="contact__form-btn btn-special-animation spacer">Zamów serwis</button>
        </a>
        <a href="{{ path('app_place_crud_index') }}">
            <button class="contact__form-btn btn-special-animation spacer">Panel użytkownika</button>
        </a>
    </div>
{% endblock %}
