{% extends 'base.html.twig' %}

{% block title %}Service index{% endblock %}

{% block body %}
    <div class="place">
    <h2>Serwis dla {{ user.username }}</h2>

    {% if is_granted('ROLE_ADMIN') %}
        <table class="table">
            <thead>
                <tr>
                    <th>Użytkownik</th>
                    <th>Nazwa jednostki</th>
                    <th>Date</th>
                    <th>Energy</th>
                    <th>Fuel</th>
                    <th>Water</th>
                    <th>Waste</th>
                    <th>Crane</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% if services is not empty %}
                    {% for service in services %}
                        <tr>
                            <td>{{ service.userId.username }}</td>
                            <td>{{ service.boatName }}</td>
                            <td>{{ service.date ? service.date|date('Y-m-d') : '' }}</td>
                            <td>{{ service.energy ? 'X' : '---' }}</td>
                            <td>{{ service.fuel ? 'X' : '---' }}</td>
                            <td>{{ service.water ? 'X' : '---' }}</td>
                            <td>{{ service.waste ? 'X' : '---' }}</td>
                            <td>{{ service.crane ? 'X' : '---' }}</td>
                            <td>
                                <a href="{{ path('app_service_show', {'id': service.id}) }}">show</a>
                                <a href="{{ path('app_service_edit', {'id': service.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                        <tr>
                            <td colspan="8">no records found</td>
                        </tr>
                {% endif %}
            </tbody>
        </table>
    {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th>Nazwa jednostki</th>
                    <th>Date</th>
                    <th>Energy</th>
                    <th>Fuel</th>
                    <th>Water</th>
                    <th>Waste</th>
                    <th>Crane</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% if services is not empty %}
                    {% set hasUserPlaces = false %}
                    {% for service in services %}
                        {% if user.username == service.userId.username %}
                        {% set hasUserPlaces = true %}
                            <tr>
                                <td>{{ service.boatName }}</td>
                                <td>{{ service.date ? service.date|date('Y-m-d') : '' }}</td>
                                <td>{{ service.energy ? 'X' : '---' }}</td>
                                <td>{{ service.fuel ? 'X' : '---' }}</td>
                                <td>{{ service.water ? 'X' : '---' }}</td>
                                <td>{{ service.waste ? 'X' : '---' }}</td>
                                <td>{{ service.crane ? 'X' : '---' }}</td>
                                <td>
                                    <a href="{{
                                    path('app_service_show', {'id': service.id}) }}">show</a>
                                    <a href="{{ path('app_service_edit', {'id': service.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    {% if not hasUserPlaces %}
                        <tr>
                            <td colspan="6">Nie masz żadnych rezerwacji</td>
                        </tr>
                    {% endif %}
                {% else %}
                        <tr>
                            <td colspan="6">Brak rezerwacji w bazie</td>
                        </tr>
                {% endif %}
            </tbody>
        </table>
    {% endif %}

        <a href="{{ path('app_service_new') }}">Create new</a>
        <a href="{{ path('app_place_crud_index') }}">
            <button class="contact__form-btn btn-special-animation spacer">Panel użytkownika</button>
        </a>
    </div>
{% endblock %}
