{% extends 'base.html.twig' %}



{% block title %}Hello PanelController!{% endblock %}



{% block body %}
    <!-- header and main site -->
    <div class="place">
        <h2>Witaj {{ user.username }}</h2>
        <nav class="navPanel">
            <ul class="navPanel__items">
                {% if is_granted('ROLE_ADMIN') %}
                <li><a href='#' data-item='dodaj'>dodaj</a></li>
                {% endif %}
                <li><a href='#' data-item='rezerwuj'>rezerwuj</a></li>
                <li><a href='#' data-item='edytuj'>edytuj</a></li>
                <li><a href='#' data-item='zamów'>zamów</a></li>
            </ul>
        </nav>

        {# Zarezerwowane terminy #}
        {% if reservation is not empty %}
            <h2>Twoje rezerwacje:</h2>
            <ol>
                {% for item in reservation %}
                    <li>{{ item.start_date|date('Y-m-d') }} - {{ item.end_date|date('Y-m-d') }} - Miejsce: {{ item.number }} - {{ item.name }} </li>
                {% endfor %}
            </ol>


        {% else %}
            <p>Nie masz żadnych rezerwacji.</p>
        {% endif %}




    </div>








{% endblock %}
