{% extends 'base.html.twig' %}

{% block body %}
<body>



<!-- header and main site -->
<header class="header">
    <h1 class="header__heading">Marina B E S T</h1>
    <p class="header__text">Wyjątkowe miejsce na Twoje wyjątkowe wakacje</p>
    <a href="#offers" class="header__btn btn-special-animation"
    >Nasza oferta</a
    >
    <!-- <div class="white-block white-block-left"></div> -->
</header>





<main class="main">
    <section class="offers section-padding section white-section" id="offers">
        <div class="wrapper">
            <h2 class="section-heading">Nasza wyjątkowa oferta</h2>

            <div class="offers__box">
                <div class="offers__box-img">
                    <img
                            src="{{ asset('assets/img/pexels-frans-van-heerden-201846-655794.jpg') }}"
                            alt="jacht klasy opti"
                            class="offers__img"
                    />
                </div>
                <div class="offers__box-text">
                    <h3 class="offers__title">Miejsa postojowe</h3>
                    <p class="offers__text">
                        Nasza marina oferuje miejsca postojowe dla różnego rodzaju jednostek.
                        Mamy w swoich zasobach małe boxy dla skuterów oraz małych jednostek do 8
                        metrów długości, a także troszke większe gdzie można zaparkowac jachtem
                        o maksymalnej długości 12 metrów oraz szerokosci do 6 metrów.
                        W przypadku gdyby to było niewystarczające, do dyspozycji naszych najbardziej
                        wymagająch klientów mamy także nabrzeże o łącznej długości 180 metrów,
                        gdzie zmieści się już dowolny jacht.
                    </p>
                </div>
            </div>

            <div class="offers__box">
                <div class="offers__box-img offers__box-img--right">
                    <img
                            src="{{ asset('assets/img/houseboat_1280.jpg') }}"
                            alt="houseboat na wynajem"
                            class="offers__img"
                    />
                </div>
                <div class="offers__box-text offers__box-text--right">
                    <h3 class="offers__title">Houseboat</h3>
                    <p class="offers__text">
                        Houseboat jest małą jednostką pływającą o niewielkim zanurzeniu.
                        Nasze jednostki wyposażone są w silnik spalinowy niewielkiej mocy,
                        co daje możliwość przemieszczania się pomiędzy marinami ktore
                        znajdują się w niewielkich odległościach od siebie. Każdy Houseboat
                        jest w pełni funkcjonalnym lokum na którym można spędzić wymarzone wakacje.
                        Dla zapenienia odpowiedniego komfortu do dyspozycji gości znajduje się: sypialnia,
                        salon, łazienka z prysznicem oraz niewielki taras na którym można spedzić
                        niezapomnaine zachody słońca.
                    </p>
                </div>
            </div>
            <div class="offers__box">
                <div class="offers__box-img">
                    <img
                            src="{{ asset('assets/img/opti_1280.jpg') }}"
                            alt="jacht klasy opti"
                            class="offers__img"
                    />
                </div>
                <div class="offers__box-text">
                    <h3 class="offers__title">Wypożyczalnia</h3>
                    <p class="offers__text">
                        W naszych zasobach znajduje się także wiele jednostek na wypożyczenie, które
                        czekają dostępne dla naszych klientów. W zasobach posiadamy 12 jachtów
                        żaglowych oraz 7 motorówek o różnej wielkości i mocy. Do wypożyczenia naszych
                        jednostem postrzebny jest jedynie patent żeglarza jachtowego dla jachtów żaglowych
                        lub sternika motorowodnego dla motorówek.
                    </p>
                </div>
            </div>
            <div class="offers__box">
                <div class="offers__box-img offers__box-img--right">
                    <img
                            src="{{ asset('assets/img/boat-crane-5195086_1280.jpg') }}"
                            alt="houseboat na wynajem"
                            class="offers__img"
                    />
                </div>
                <div class="offers__box-text offers__box-text--right">
                    <h3 class="offers__title">Zimowanie jednostek</h3>
                    <p class="offers__text">
                        Marina BEST oferuje także zimowanie jednostek pływających.Zimowanie odbywa
                        się na terenie mariny, gdzie jednostki są zabezpieczone przed warunkami atmosferycznymi.
                        W cenie zimowania wliczone jest mycie podwodnej częsci jednostki przed zimowaniem oraz
                        po zimowaniu przed wodowaniem. W przypadku gdyby klient chciał dokonać jakichkolwiek
                        napraw lub konserwacji jednostki w trakcie zimowania, nasza marina oferuje pomoc w znalezieniu
                        odpowiednich fachowców do wykonania napraw.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="hero-img section" id="marina-data">
        <p class="hero-img__title">O marinie</p>
        <hr />
        <p class="hero-img__text">
            Marina BEST jest to nowoczesna przystań jachtowa, która powstała w 2010 roku.
            Oferujemy miejsca postojowe dla różnego rodzaju jednostek pływających.
            W naszych zasobach znajduje się 180 metrów wolnego nabrzeża, które pozwala na postawienie
            dowolnego jachtu o zanurzeniu do 6 metrów. Dodatkowo posiadamy kilkanaście pomostów dla jednostek mniejszej wielkości.
            W naszej ofercie znajduje się także wypożyczalnia jachtów oraz
            motorówek, a także houseboatów. Nasza marina oferuje także zimowanie jednostek
            pływających. Wszystkie nasze usługi świadczone są na najwyższym poziomie, a nasza
            obsługa zawsze służy pomocą w razie jakichkolwiek pytań.
        </p>
        <p class="hero-img__text">
            Obiekt gwarantuje dostęp do prądu oraz wody słodkiej. Ponadto na terenie mariny znajduje się także nowoczesny
            wezeł sanitarny, pralnia z suszarnią, parking dla gości, wypożyczalnia rowerów oraz kajaków, sklep spożywczy,
            pole namiotowe oraz karawaningowe oraz tawerna żeglarska. <br>
            Obiekt jest całodobowo monitorowany a obsługę zapewniaja całodobowi bosmani portu.
        </p>
        <p class="hero-img__text">
            Marina BEST od 2014 roku, jest organizatorem regat żeglarskich o Puchar Polskiego Związku Żeglarskiego. <br>
            Natomiast, co najważniejsze, od 2016 roku, nasza marina corocznie jest w TOP 3 najlepszych marin w Polsce.
        </p>
        <hr />
    </section>

    <section
            class="price section-padding section white-section"
            id="price-list"
    >
        <div class="wrapper">
            <h2 class="section-heading">cennik</h2>

            <div class="price__cards">
                <div class="price__card" onclick="void(0)">
                    <div class="price__card-img price__card-img--first">
                        <h3 class="price__card-img-title">Małe miejsca</h3>
                        <p class="price__card-info-list-itemTop">Takie miejsca postojowe przeznaczone są głównnie dla skuterów oraz dla małych
                            jednoosbowych jachtów żaglowych oraz małych motorówek do 8 metrów długości.</p>
                        <p class="price__card-img-info">
                            <i class="fas fa-angle-double-right"></i>
                        </p>
                    </div>
                    <div class="price__card-info">
                        <h3 class="price__card-info-title">Miejsce postojowe małe</h3>
                        <ul class="price__card-info-list">
                            <li class="price__card-info-list-item">1 doba - 50PLN</li>
                            <li class="price__card-info-list-item">od 3 do 10 dób - 45PLN/dobę</li>
                            <li class="price__card-info-list-item">powyżej 10 dób - 40PLN/dobę</li>
                        </ul>
                        <a href="{{ path('app_payment') }}">
                            <button class="price__card-info-btn btn-special-animation">
                                Cały cennik
                            </button>
                        </a>

                    </div>
                </div>
                <div class="price__card" onclick="void(0)">
                    <div class="price__card-img price__card-img--second">
                        <h3 class="price__card-img-title">Duże miejsca</h3>
                        <p class="price__card-info-list-itemTop">Przeznaczone dla jednostek o masymalnych wymiarach do 12 metrów długości oraz
                        6 metrów szerokości</p>
                        <p class="price__card-img-info">
                            <i class="fas fa-angle-double-right"></i>
                        </p>
                    </div>
                    <div class="price__card-info">
                        <h3 class="price__card-info-title">Miejsce postojowe duże</h3>
                        <ul class="price__card-info-list">
                            <li class="price__card-info-list-item">1 doba - 65PLN</li>
                            <li class="price__card-info-list-item">od 3 do 10 dób - 60PLN/dobę</li>
                            <li class="price__card-info-list-item">powyżej 10 dób - 55PLN/dobę</li>
                        </ul>
                        <a href="{{ path('app_payment') }}">
                            <button class="price__card-info-btn btn-special-animation">
                                Cały cennik
                            </button>
                        </a>
                    </div>
                </div>
                <div class="price__card" onclick="void(0)">
                    <div class="price__card-img price__card-img--third">
                        <h3 class="price__card-img-title">Houseboat</h3>
                        <p class="price__card-info-list-itemTop">Male jednostki pływające, służące głównie do psotoju w porcie, ale za główną zaletę,
                        mające w pełni funkcjonalne wyposażenie. Jednym słowem - pływający dom.</p>
                        <p class="price__card-img-info">
                            <i class="fas fa-angle-double-right"></i>
                        </p>
                    </div>
                    <div class="price__card-info">
                        <h3 class="price__card-info-title">Houseboat</h3>
                        <ul class="price__card-info-list">
                            <li class="price__card-info-list-item">1 doba - 300PLN</li>
                            <li class="price__card-info-list-item">od 3 do 10 dób - 250PLN/dobę</li>
                            <li class="price__card-info-list-item">powyżej 10 dób - 220PLN/dobę</li>
                        </ul>
                        <a href="{{ path('app_payment') }}">
                            <button class="price__card-info-btn btn-special-animation">
                                Cały cennik
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="news section-padding section" id="news">
        <h2 class="section-heading">Aktualności</h2>
        <div class="wrapper">
            <div class="news__box">
                <div class="news__option">
                    <img
                            src="./{{ asset('assets/img/sea_640.jpg') }}"
                            alt="dzien dziecka"
                            class="news__option-img"
                    />
                    <div class="news__option-info">
                        <h3 class="news__option-heading">Przygotowanie do sezonu 2024</h3>

                        <p class="news__option-text">
                            W związku ze zbliżającym się kolejnym sezonem żeglarskim,
                            na naszej marinie rozpoczęły się prace pożądkowe mające na celu
                            jak najlepsze przygotwanie naszego obiektu.<br>
                            W najbliższych dniach mamy w planach konserwacje pomostów oraz uruchomienie
                            dwóch nowych, jeszcze przed sezonem, a także malowanie grodzenia, prace porządkowe
                            na terenach zielonych oraz pierwsze prace przygotowujące zimowane jednostki do sezonu.
                        </p>
                        <p class="news__option-text">
                            30.03.2024
                        </p>
{#                        <button class="news__option-btn btn-special-animation">#}
{#                            Wybierz#}
{#                        </button>#}
                    </div>
                </div>
                <div class="news__option">
                    <img
                            src="{{ asset('assets/img/jetty_640.jpg') }}"
                            alt="dzien dziecka"
                            class="news__option-img news__option-img--right"
                    />
                    <div class="news__option-info">
                        <h3 class="news__option-heading">Konserwacja pomostów</h3>

                        <p class="news__option-text">
                            W dniu dzisiejszym rozpoczęliśmy konserwację uszkodzonych elementów
                            pomostów. Prace rozplanowane zostały an dwa tygodnie i potrawają od rana
                            do późnych godzin wieczornych. Pozwoli to nam na przywrócenie pełnej sprawności
                            naszej najbardziej newralgicznej części mariny.
                        </p>
                        <p class="news__option-text">
                            11.04.2024
                        </p>
{#                        <button class="news__option-btn btn-special-animation">#}
{#                            Wybierz#}
{#                        </button>#}
                    </div>
                </div>
                <div class="news__option">
                    <img
                            src="{{ asset('assets/img/kids_day_640.jpg') }}"
                            alt="dzien dziecka"
                            class="news__option-img"
                    />
                    <div class="news__option-info">
                        <h3 class="news__option-heading">Dzień dziecka w BEST</h3>

                        <p class="news__option-text">
                            Jak co roku, 1 czerwca, w naszej marinie odbędzie się Dzień Dziecka.<br>
                            Zapraszamy wszystkie dzieci wraz z rodzicami na wspólne zabawy, konkursy oraz pokazy.
                            W tym roku, dla najmłodszych, przygotowaliśmy wiele atrakcji, w tym m.in.
                            dmuchane zamki, klaunów, malowanie twarzy oraz wiele innych niespodzianek.
                            Na zakończnie dnia, około godz. 21:00 odbędzie się pokaz sztucznych ogni.<br><br>
                            Zapraszamy serdecznie!
                        </p>
                        <p class="news__option-text">
                            20.05.2024
                        </p>
{#                        <button class="news__option-btn btn-special-animation">#}
{#                            Wybierz#}
{#                        </button>#}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact section-padding section" id="contact">
        <h2 class="section-heading">Formularz kontakowy</h2>
        <div class="wrapper">
            <form action="mail.php" method="post" class="contact__form">
                <div class="contact__form-top">
                    <label for="name" class="contact__form-label">Imie:</label>
                    <input type="text" name="name" placeholder="Twoje imię..." class="contact__form-input">

                    <label for="lname" class="contact__form-label">Adres email:</label>
                    <input type="email" name="email" placeholder="Twój email.." class="contact__form-input">
                </div>

                <label for="message" class="contact__form-label">Twoja wiadomość:</label>
                <textarea name="message" placeholder="Napisz coś.." class="contact__form-area" cols="30" rows="10"></textarea>
                <button type="submit" class="contact__form-btn btn-special-animation">Wyślij</button>
            </form>
        </div>
    </section>
</main>
{% endblock %}
