{% extends 'base.html.twig' %}

{% block body %}
<body>



<!-- header and main site -->
<header class="header">
    <h1 class="header__heading">Marina B E S T</h1>
    <p class="header__text">Wyjątkowe miejsce na Twoje wyjątkowe wakacje</p>
    <a href="#offers" class="header__btn btn-special-animation"
    >Nasza oferta</a
    >
    <!-- <div class="white-block white-block-left"></div> -->
</header>





<main class="main">
    <section class="offer section-padding section white-section" id="offers">
        <div class="wrapper">
            <h2 class="section-heading">Nasza wyjątkowa oferta</h2>

            <div class="offers__box">
                <div class="offers__box-img offers__box-img--right">
                    <img
                            src="{{ asset('assets/img/houseboat_1280.jpg') }}"
                            alt="houseboat na wynajem"
                            class="offers__img"
                    />
                </div>
                <div class="offers__box-text offers__box-text--right">
                    <h3 class="offers__title">Houseboat</h3>
                    <p class="offers__text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore
                        facere ducimus velit quibusdam quam adipisci assumenda, ad
                        exercitationem nihil excepturi dolore possimus. Magni quis
                        corrupti eligendi et recusandae delectus voluptatibus distinctio
                        officiis dignissimos! Officia optio distinctio rem ex laborum
                        nisi.
                    </p>
                </div>
            </div>
            <div class="offers__box">
                <div class="offers__box-img">
                    <img
                            src="{{ asset('assets/img/opti_1280.jpg') }}"
                            alt="jacht klasy opti"
                            class="offers__img"
                    />
                </div>
                <div class="offers__box-text">
                    <h3 class="offers__title">Jacht klasy Opti</h3>
                    <p class="offers__text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore
                        facere ducimus velit quibusdam quam adipisci assumenda, ad
                        exercitationem nihil excepturi dolore possimus. Magni quis
                        corrupti eligendi et recusandae delectus voluptatibus distinctio
                        officiis dignissimos! Officia optio distinctio rem ex laborum
                        nisi.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="hero-img section" id="marina-data">
        <p class="hero-img__title">Dane nt mariny</p>
        <hr />
        <p class="hero-img__text">Tu tez cos bedzie</p>
        <hr />
    </section>

    <section
            class="price section-padding section white-section"
            id="price-list"
    >
        <div class="wrapper">
            <h2 class="section-heading">cennik</h2>

            <div class="price__cards">
                <div class="price__card" onclick="void(0)">
                    <div class="price__card-img price__card-img--first">
                        <h3 class="price__card-img-title">Miejsce postojowe małe</h3>
                        <p class="price__card-img-info">
                            <i class="fas fa-angle-double-right"></i>
                        </p>
                    </div>
                    <div class="price__card-info">
                        <h3 class="price__card-info-title">Miejsce postojowe małe</h3>
                        <ul class="price__card-info-list">
                            <li class="price__card-info-list-item">Oferta 1</li>
                            <li class="price__card-info-list-item">Oferta 2</li>
                        </ul>
                        <button class="price__card-info-btn btn-special-animation">
                            Wybierz
                        </button>
                    </div>
                </div>
                <div class="price__card" onclick="void(0)">
                    <div class="price__card-img price__card-img--second">
                        <h3 class="price__card-img-title">Miejsce postojowe duże</h3>
                        <p class="price__card-img-info">
                            <i class="fas fa-angle-double-right"></i>
                        </p>
                    </div>
                    <div class="price__card-info">
                        <h3 class="price__card-info-title">Miejsce postojowe duże</h3>
                        <ul class="price__card-info-list">
                            <li class="price__card-info-list-item">Oferta 1</li>
                            <li class="price__card-info-list-item">Oferta 2</li>
                        </ul>
                        <button class="price__card-info-btn btn-special-animation">
                            Wybierz
                        </button>
                    </div>
                </div>
                <div class="price__card" onclick="void(0)">
                    <div class="price__card-img price__card-img--third">
                        <h3 class="price__card-img-title">Houseboat</h3>
                        <p class="price__card-img-info">
                            <i class="fas fa-angle-double-right"></i>
                        </p>
                    </div>
                    <div class="price__card-info">
                        <h3 class="price__card-info-title">Houseboat</h3>
                        <ul class="price__card-info-list">
                            <li class="price__card-info-list-item">Oferta 1</li>
                            <li class="price__card-info-list-item">Oferta 2</li>
                        </ul>
                        <button class="price__card-info-btn btn-special-animation">
                            Wybierz
                        </button>
                    </div>
                </div>
                <div class="price__card" onclick="void(0)">
                    <div class="price__card-img price__card-img--fourth">
                        <h3 class="price__card-img-title">Jacht Opti</h3>
                        <p class="price__card-img-info">
                            <i class="fas fa-angle-double-right"></i>
                        </p>
                    </div>
                    <div class="price__card-info">
                        <h3 class="price__card-info-title">Jacht Opti</h3>
                        <ul class="price__card-info-list">
                            <li class="price__card-info-list-item">Oferta 1</li>
                            <li class="price__card-info-list-item">Oferta 2</li>
                        </ul>
                        <button class="price__card-info-btn btn-special-animation">
                            Wybierz
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="news section-padding section" id="news">
        <h2 class="section-heading">Aktualności</h2>
        <div class="wrapper">
            <div class="news__box">
                <div class="news__option">
                    <img
                            src="./{{ asset('assets/img/sea_640.jpg') }}"
                            alt="dzien dziecka"
                            class="news__option-img"
                    />
                    <div class="news__option-info">
                        <h3 class="news__option-heading">Przygotowanie do sezonu</h3>

                        <p class="news__option-text">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius
                            maxime, accusamus, ex cumque, consequatur quam sint fugiat
                            ullam amet est commodi quod debitis explicabo labore officiis
                            perspiciatis facere. Tempora, consequatur!
                        </p>
                        <p class="news__option-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Impedit, inventore.
                        </p>
                        <!-- <button class="news__option-btn btn-special-animation">
                            Wybierz
                        </button> -->
                    </div>
                </div>
                <div class="news__option">
                    <img
                            src="{{ asset('assets/img/jetty_640.jpg') }}"
                            alt="dzien dziecka"
                            class="news__option-img news__option-img--right"
                    />
                    <div class="news__option-info">
                        <h3 class="news__option-heading">Konserwacja pomostów</h3>

                        <p class="news__option-text">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius
                            maxime, accusamus, ex cumque, consequatur quam sint fugiat
                            ullam amet est commodi quod debitis explicabo labore officiis
                            perspiciatis facere. Tempora, consequatur!
                        </p>
                        <p class="news__option-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Impedit, inventore.
                        </p>
                        <!-- <button class="news__option-btn btn-special-animation">
                            Wybierz
                        </button> -->
                    </div>
                </div>
                <div class="news__option">
                    <img
                            src="{{ asset('assets/img/kids_day_640.jpg') }}"
                            alt="dzien dziecka"
                            class="news__option-img"
                    />
                    <div class="news__option-info">
                        <h3 class="news__option-heading">Dzień dziecka</h3>

                        <p class="news__option-text">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius
                            maxime, accusamus, ex cumque, consequatur quam sint fugiat
                            ullam amet est commodi quod debitis explicabo labore officiis
                            perspiciatis facere. Tempora, consequatur!
                        </p>
                        <p class="news__option-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Impedit, inventore.
                        </p>
                        <!-- <button class="news__option-btn btn-special-animation">
                            Wybierz
                        </button> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact section-padding section" id="contact">
        <h2 class="section-heading">Formularz kontakowy</h2>
        <div class="wrapper">
            <form action="mail.php" method="post" class="contact__form">
                <div class="contact__form-top">
                    <label for="name" class="contact__form-label">Imie:</label>
                    <input type="text" name="name" placeholder="Twoje imię..." class="contact__form-input">

                    <label for="lname" class="contact__form-label">Adres email:</label>
                    <input type="email" name="email" placeholder="Twój email.." class="contact__form-input">
                </div>

                <label for="message" class="contact__form-label">Twoja wiadomość:</label>
                <textarea name="message" placeholder="Napisz coś.." class="contact__form-area" cols="30" rows="10"></textarea>
                <button type="submit" class="contact__form-btn btn-special-animation">Wyślij</button>
            </form>
        </div>
    </section>
</main>
{% endblock %}
