{% extends 'base.html.twig' %}

{% block title %}Place index{% endblock %}

{% block body %}
    <div class="place">
    <h2>Witaj {{ user.username }}</h2>

    {% if is_granted('ROLE_ADMIN') %}
        <table class="table">
            <thead>
                <tr>
                    <th>Użytkownik</th>
                    <th>Nr miejsca</th>
                    <th>Początek postoju</th>
                    <th>Koniec postoju</th>
                    <th>Nazwa jednostki</th>
                    <th>RFID</th>
                </tr>
            </thead>
            <tbody>
                {% if places is not empty %}
                    {% for place in places %}
                        <tr>
                            <td>{{ place.userId.username }}</td>
                            <td>{{ place.number }}</td>
                            <td>{{ place.startDate ? place.startDate|date('Y-m-d') : '' }}</td>
                            <td>{{ place.endDate ? place.endDate|date('Y-m-d') : '' }}</td>
                            <td>{{ place.boatName }}</td>
                            <td>{{ place.keyNumber is not null ? place.keyNumber.number : '---' }}</td> {# if null, show nothing #}
                            <td>
{#                                <a href="{{ path('app_place_crud_show', {'id': place.id}) }}">Pokaż</a>#}
                                <a href="{{ path('app_place_crud_edit', {'id': place.id}) }}">Edytuj</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6">Brak rezerwacji w bazie</td>
                    </tr>
                {% endif %}

            </tbody>

        </table>
        {# errors from PlaceCrudcontroller       #}
        {% for flashError in app.flashes('error') %}
            <div class="flash-error">
                {{ flashError }}
            </div>
        {% endfor %}
    {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th>Nr miejsca</th>
                    <th>Początek postoju</th>
                    <th>Koniec postoju</th>
                    <th>Nazwa jednostki</th>
                </tr>
            </thead>
            <tbody>
            {% if places is not empty %}
                {% set hasUserPlaces = false %}
                {% for place in places %}
                    {% if user.username == place.userId.username %}
                    {% set hasUserPlaces = true %}
                        <tr>
                            <td>{{ place.number }}</td>
                            <td>{{ place.startDate ? place.startDate|date('Y-m-d') : '' }}</td>
                            <td>{{ place.endDate ? place.endDate|date('Y-m-d') : '' }}</td>
                            <td>{{ place.boatName }}</td>
                            <td>
{#                                <a href="{{ path('app_place_crud_show', {'id': place.id}) }}">Pokaż</a>#}
                                <a href="{{ path('app_place_crud_edit', {'id': place.id}) }}">Edytuj</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                {% if not hasUserPlaces %}
                    <tr>
                        <td colspan="6">Nie masz żadnych rezerwacji</td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="6">Brak rezerwacji w bazie</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        {# errors from PlaceCrudcontroller       #}
        {% for flashError in app.flashes('error') %}
            <div class="flash-error">
                {{ flashError }}
            </div>
        {% endfor %}
    {% endif %}

    <a href="{{ path('app_place_crud_new') }}">
        <button class="contact__form-btn btn-special-animation spacer">Zarezerwuj miejsce</button>
    </a>

    <a href="{{ path('app_service_index') }}">
        <button class="contact__form-btn btn-special-animation spacer">Zamów serwis</button>
    </a>
    <a href="{{ path('app_wintering_index') }}">
        <button class="contact__form-btn btn-special-animation spacer">Zimowanie</button>
    </a>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_rfid_index') }}">
            <button class="contact__form-btn btn-special-animation spacer">RFID</button>
        </a>
        <a href="{{ path('app_user_index') }}">
            <button class="contact__form-btn btn-special-animation spacer">Użytkownicy</button>
        </a>
    {% else %}
        <a href="{{ path('app_user_index') }}">
            <button class="contact__form-btn btn-special-animation spacer">Zmień dane</button>
        </a>
    {% endif %}
    </div>
{% endblock %}
