{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    <div class="place">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <h1 class="title">Logowanie</h1>

        <form action="{{ path('app_login') }}" method="post">
            <div class="login_form">
                <label for="username">Login</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />
            </div>
            <div class="login_form">
                <label for="password">Hasło</label>
                <input type="password" id="password" name="_password" />
            </div>

            {# if you want to control the URL the user
          is redirected to on success (more details below)
          <input type="hidden" name="_target_path" value="/account" /> #}

            {% for flashError in app.flashes('error') %}
                <div class="flash-error">
                    {{ flashError }}
                </div>
            {% endfor %}

            <button type="submit" class="contact__form-btn btn-special-animation spacer">Login</button>
        </form>
        <div>Nie posiadasz konta? Dołącz do nas!</div>
        <a href="{{ path('app_register') }}">
            <button class="contact__form-btn btn-special-animation spacer">Zarejestruj się!!!</button>
        </a>
        <a href="{{ path('app_index') }}">
            <button class="contact__form-btn btn-special-animation spacer">Strona główna</button>
        </a>
    </div>

{% endblock %}
